body{
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(https://www.sciencealert.com/images/2021-02/3._equidistant_azimuthal_projection.jpg);
background-size: 150%;
background-position: center;

}


#geoAnswers{
    display: none;
}