* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/taustakuva_historia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    margin: 0;
    padding: 0;
}

#historyAnswers {
    display: none;
    opacity: 0.6;
}

#contents {
    background-color:rgba(172, 131, 18, 0.5);
}

#question {
    background-color:rgba(122, 94, 15, 0.5);    
}

:required {
    background: red;
}